p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.button {
  text-transform: uppercase;
  font-weight: 600;
  color: #2196F3;
  cursor: pointer;
  padding: 5px 20px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #e8e8e8;

    &.shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      color: red;
    }
  }
}

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  padding: 10px;
  background-color: #00BCD4;
  font-size: larger;
  position: fixed;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  .card {
    width: 70%;
    max-width: 450px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;

    .card-title {
      padding: 5px;

    }

    .card-content {
      padding: 5px;

      textarea {
        font-family: 'Gloria Hallelujah', cursive;
        font-size: larger;
        line-height: 28px;
        width: calc(100% - 5px);
        max-width: 440px;
      }

      h4 {
        font-family: 'Gloria Hallelujah', cursive;
        text-align: center;
        font-size: xx-large
      }
    }

    .card-footer {
      padding: 5px;
      border-top: 1px solid #e0e0e0;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
