<nav class="navbar shadow">
  <a class="main" href="/">Last Message</a>
</nav>

<!-- create message here -->
<div class="container" *ngIf="!messageAdded">
  <div class="card shadow">
    <div class="card-content">
      <textarea [(ngModel)]="newMessage" rows="3" placeholder="Type your message here....."></textarea>
    </div>
    <div class="card-footer">
      <p class="button" [class.shake]="!newMessage.length < 3" (click)="addMessage()">Add</p>
    </div>
  </div>
</div>

<!-- view message here -->
<div class="container" *ngIf="messageAdded">
  <div class="card shadow">
    <div class="card-title">
      <p>The message left for you...</p>
    </div>
    <div class="card-content">
      <h4> {{ message.name }} </h4>
    </div>
    <div class="card-footer">
      <p class="button" (click)="startAgain()">Start Again</p>
    </div>
  </div>
</div>
